@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  background-image: linear-gradient(
    to right,
    #fdcb1b,
    #e07b45,
    #b03f63,
    #661476,
    #120079
  );
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 20px;
}
.newDiv {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  overflow: auto;
  height: 500px;
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.Parahrap-Denu {
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000000;
}
.footer-container {
  margin-top: 100px;
}
.img-Denu {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.Denu-User {
  display: flex;
  text-align: center;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #120079;
  background: #d3d3d3c1;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(75, 0, 130, 0.7);
    backdrop-filter: blur(10px);
  }
}
