@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  width: 100%;
  background: rgb(230, 63, 251);
  background: radial-gradient(
    circle,
    rgba(230, 63, 251, 1) 0%,
    rgba(116, 52, 169, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}

#a-sair {
  text-decoration: none;
  background-color: #f94ca4;
  width: 50px;
  height: 25px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
}

#btn-sair {
  border-radius: 20px;
  height: 35px;
  width: 50px;
}

#desc {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: #fff;
}

.title-serv {
  font-size: 1.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.coluna-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-Serv {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.img-logo {
  margin-left: 30px;
}

.container-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.logo-perfil {
  width: 200px;
  height: 200px;
  border-radius: 500%;
  margin-top: 60px;
  margin-left: 50px;
}

.perfil {
  grid-column: 1;
  grid-row: 1/2;
  margin-bottom: 30px;
  padding-right: 100px;
}

.subtitle {
  text-align: center;
}

.avaliacoes {
  grid-column: 1;
  grid-row: 2/4;
  margin-bottom: 100px;
}

.subtitle-1 {
  margin-top: 50px;
  text-align: center;
}

.title-avaliacoes {
  margin-top: 50px;
  text-align: center;
}

.container-Serv {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px;
  gap: 10px;
}

.icon-vagas {
  width: 90%;
  padding: 10px;
  height: 150px;
  border-radius: 100px;
}

#conteudo {
  overflow: auto;
  height: 500px;
}

.card-vagas {
  margin-top: 10px;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin-left: 50px;
  padding: 10px;
}

.cards {
  margin-top: 30px;
  margin-left: 100px;
  width: 80%;
}

.icon-user {
  width: 40%;
  border-radius: 500%;
  margin-bottom: 5%;
}

.star-icon {
  font-size: 40px;
}

.slider-box-1 {
  margin-top: 50px;
}

.card {
  height: 80%;
  width: 90%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.servicos {
  text-align: center;
  margin-bottom: 30px;
}

.vagas {
  grid-row: 1/4;
  grid-column: 2;
  border-left: 2px solid rgb(255, 255, 255);
  padding-left: 50px;
  padding-top: 70px;
  padding-right: 20px;
}

nav {
  margin-bottom: 30px;
}

.edit {
  border-radius: 10px;
  height: 40px;
  margin: 20px;
  border: 0px;
}

@media (max-width: 1350px) {
  body {
    height: 100%;
  }

  #desc {
    margin-left: 50px;
    width: 250px;
  }
}

@media (max-width: 991px) {
  body {
    height: 100%;
  }

  #perfil-nome {
    margin-left: -400px;
  }

  #logo-perfil {
    width: 250px;
    height: 250px;
    margin-top: 120px;
    margin-left: 300px;
  }

  #desc {
    margin-right: 100px;
  }

  .subtitle-1 {
    white-space: nowrap;
  }

  .star-icon {
    font-size: 20px;
  }

  .icon-user {
    width: 60px;
  }

  .card {
    width: 500px;
    height: 150px;
    margin-left: 100px;
  }

  .cards {
    margin: 0 auto;
  }

  .icon-vagas {
    width: 200px;
    margin-top: 30px;
  }

  .card-body {
    font-size: 15px;
  }

  .sidebar {
    background-color: rgba(75, 0, 130, 0.7);
    backdrop-filter: blur(10px);
  }

  .container-body {
    display: flex;
    flex-direction: column;
  }

  #vagas {
    margin-bottom: 50px;
  }

  .subtitle-1 {
    font-size: 35px;
  }

  #desc {
    margin-top: 350px;
    width: 600px;
    text-align: center;
    padding-right: 50px;
    margin-left: -250px;
    font-size: 18px;
  }

  .title-avaliacoes {
    font-size: 35px;
    margin-left: -50px;
  }

  .star-icon {
    font-size: 40px;
  }

  .card-body {
    font-size: 17px;
  }

  .vagas {
    border-top: 2px solid black;
  }

  .servicos {
    font-size: 35px;
    margin-left: -200px;
  }

  .card-vagas {
    padding: 15px;
    width: 600px;
  }
}

@media (max-width: 850px) {
  #logo-perfil {
    margin-left: 200px;
    width: 300px;
    height: 300px;
  }

  #desc {
    margin-top: 350px;
    margin-left: -250px;
  }

  .title-avaliacoes {
    font-size: 35px;
    margin-left: -100px;
  }

  .card-body {
    font-size: 15px;
  }

  .servicos {
    font-size: 35px;
  }

  .card-vagas {
    padding: 15px;
    width: 560px;
    margin-left: 10px;
  }

  .card {
    margin-left: 30px;
  }
}

@media (max-width: 770px) {
  #perfil-nome {
    margin-left: -300px;
  }

  .title-avaliacoes {
    font-size: 35px;
  }

  .star-icon {
    font-size: 40px;
  }

  .card-body {
    font-size: 17px;
  }

  .card {
    width: 450px;
  }

  .star-icon {
    font-size: 25px;
  }

  .icon-user {
    width: 60px;
    margin-left: -300px;
  }

  #card-2 {
    margin-top: -100px;
    width: 300px;
    margin-left: 120px;
  }

  #nome-ava {
    margin-left: -300px;
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  #perfil-nome {
    margin-left: -100px;
  }

  .subtitle-1 {
    font-size: 35px;
  }

  .card {
    margin-left: -10px;
  }

  #logo-perfil {
    margin-left: 120px;
    width: 300px;
    height: 300px;
  }

  #desc {
    font-size: 16px;
    margin-left: -150px;
    width: 450px;
  }

  .title-avaliacoes {
    font-size: 35px;
  }

  .card-vagas {
    width: 500px;
    height: 250px;
    margin-left: -10px;
    padding: 10px;
  }

  #descVaga {
    margin-left: -80px;
    width: 300px;
    font-size: 14px;
  }

  .icon-vagas {
    width: 150px;
    margin-left: -50px;
    padding: 0px;
  }

  .nome-ava {
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .logo-perfil {
    width: 250px;
    height: 250px;

    margin-left: 160px;
  }

  #desc {
    margin-top: 300px;
    width: 450px;
    margin-left: -150px;
  }

  .card-vagas {
    width: 400px;
    height: 150px;
    margin-left: -10px;
  }

  #descVaga {
    font-size: 10px;
    margin-left: -80px;
    width: 250px;
  }
}
