@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {box-sizing: border-box;
margin: 0;
padding: 0;}

body {width: 100%;
font-family: 'Poppins', sans-serif;
background-image: linear-gradient(
      to right,
      #fdcb1b,
      #e07b45,
      #b03f63,
      #661476,
      #120079
);}

.footer-container {
    margin-top: 50px;
  }

.actions {margin-top: 100px;}

.header i:nth-child(1){color: #fe466d;}

.photo-actions {height: calc(100vh - 45px);}

.whats {position: fixed;
bottom: 30px;
right: 50px;
z-index: 9999;}

action i {
  cursor: default; 
}

.action i:hover {
  cursor: pointer; 
}
