@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  background-image: linear-gradient(
    to right,
    #fdcb1b,
    #e07b45,
    #b03f63,
    #661476,
    #120079
  );
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

/* .container {
  margin-top: 20px;
} */
/**/
.section-container {
  display: flex;
}
/**/
.footer-container {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(75, 0, 130, 0.7);
    backdrop-filter: blur(10px);
  }
}
