@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  background-image: linear-gradient(
    to right,
    #fdcb1b,
    #e07b45,
    #b03f63,
    #661476,
    #120079
  );
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

/* .container {
  margin-top: 20px;
} */
/**/
#a-sair {
  text-decoration: none;
  width: 60px;
  height: 40x;
  border-radius: 20px;
  color: #ffffff;
  background-color: #f94ca4;
  display: flex;
  justify-content: center;
}
.section-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 100px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.557);
  border-radius: 50px;
}
.dados-vagas {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}
.sectior-filtros-vagas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
}
.dados-descricao {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
label {
  font-weight: 600;
}
.input-number {
  width: 10%;
}
.input-submit-descricao {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  padding: 5px;
  border-radius: 15px;
  background-color: #f94ca4;
  color: #fffffffc;
}
.ul-filtros-vagas {
  list-style: none;
}
.nav-button-sair {
  width: 150px;
}
#titulo-criarVagas {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
#vagas-criadas {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.div-img {
  width: 30%;
  display: flex;
  justify-content: center;
}
.img-vaga {
  width: 200px;
  height: 200px;
}
.div-dadosVagas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}
.vaga-disponivel {
  display: flex;
  border: 8px outset #add8e6;
  width: 75%;
  align-items: center;
  padding: 20px;

  background-color: #c0c0c0;
}
.button-vaga {
  width: 50%;
}
/**/
.footer-container {
  margin-top: 100px;
}
.newDiv {
  margin-top: 20px;
  width: 100%;
}
.select-soft {
  width: 100%;
}
.div-selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img-vaga {
  width: 150px;
  height: 150px;
  border-radius: 200px;
}
.newDivv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.div01 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
}
.div02 {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: column;
}
.div-container {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  background-color: #120079;
  background: #d3d3d3c1;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.btn-excluir {
  width: 25%;
}
.sectior-criar-vagas {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1400px) {
  body {
    height: 100%;
  }
  .div01 {
    width: 25%;
  }
}
@media (max-width: 991px) {
  body {
    height: 100%;
  }
  .section-container {
    height: 100%;
  }
  .sidebar {
    background-color: rgba(75, 0, 130, 0.7);
    backdrop-filter: blur(10px);
  }
}
@media (max-width: 720px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .section-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }

  .sectior-filtros-vagas {
    width: 20%;
  }
}
@media (max-width: 640px) {
  .btn-excluir {
    width: 50%;
  }
  body {
    width: 100%;
    height: 100%;
  }
  .section-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .section-container {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sectior-criar-vagas {
    width: 80%;
  }
}
