@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

body {
  background-image: linear-gradient(
    to right,
    #fdcb1b,
    #e07b45,
    #b03f63,
    #661476,
    #120079
  );
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


.container {
  margin-top: 20px;
}

.footer-container {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(75, 0, 130, 0.7);
    backdrop-filter: blur(10px);
  }
}

.titulo {
    color:#FFF
    
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job-card {
    background-color:#661489;
    color: #FFF;
    padding: 25px;
    margin: 13px;
    cursor:auto;
    border-radius: 20px;
}

#job-details {
    margin: 20px;
    font-weight: bold;
}